/* .navbar-container{
    font-family: "Playwrite US Modern", cursive;
    font-weight: 600;
    font-style: normal;
} */
 .navbar-container{
    font-weight: 600;
   
 }
.vl{
    height: 30px;
    width: 2px;
    background-color: rgb(26, 26, 26);
}
/* .scene{
    height: 533px;
} */
 .featured-container{
    font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: normal;
 }

 .info{
    font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  
  font-weight: 800;
  font-style: normal;
 }
